/* Media */

/* post-page */

@media (max-width: 1150px) {
  main {
    width: initial;
    margin-left: 10px;
    margin-right: 10px;
  }

  .sort-container {
    width: 100%;
  }

  /* tags */
  .sidebar {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
  }

  .tags-list-check {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .content-area {
    flex-direction: column;
  }

  .hidden {
    display: none;
  }

  .post-card-container {
    gap: 30px 5px;
  }

  .carousel-home {
    padding: 3px;
  }

  /* scrollbar issues */

  .carousel-home-container {
    height: initial;
  }
}

@media (max-width: 600px) {
  .authors-corner-layout p {
    font-size: 16px;
  }
}

@media (max-width: 508px) {
  .authors-corner-layout {
    flex-direction: column;
  }

  .authors-corner-layout img {
    align-self: flex-start;
  }

  .authors-corner-layout p {
    margin: 0;
    margin-top: 15px;
  }

  .authors-corner-info img {
    max-width: 100%;
  }

  /* logo */
  .container img {
    height: 85px;
  }

  main {
    margin-top: 116px;
  }
}

@media (max-width: 450px) {
  .github {
    margin: 0;
  }

  .container-footer {
    flex-direction: column;
  }
}

@media (max-width: 850px) {
  .hamburger-menu {
    display: block;
    margin-right: 20px;
    font-size: 40px;
    z-index: 100;
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
    background-color: white;
    z-index: 99;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    padding-top: 90px;
  }

  nav ul li {
    margin: 10px 35px;
  }

  .post-main {
    flex-direction: column;
  }

  .discover-more {
    align-self: center;
  }
}

/* homepage */
@media (max-width: 1000px) {
  .authors-corner-info,
  .behind-the-scenes {
    max-width: 100%;
    flex-basis: 100%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .home-h1,
  .about-author-h2 {
    margin-left: 20px;
  }

  .carousel-home {
    flex-direction: column;
    padding-top: 20px;
  }
}

@media (max-width: 700px) {
  .about-article,
  .blog-content-breakdown {
    width: 100%;
  }

  .blog-content-breakdown {
    order: -1;
  }

  .about-page {
    flex-wrap: wrap;
  }

  /* contact page*/

  .author-card {
    order: -1;
  }

  .author-card,
  .contact-form {
    flex-basis: 100%;
  }

  .author-card img {
    width: 135px;
  }

  .sort-and-posts .post-card-container {
    justify-content: center;
    flex-direction: column;
  }

  .sort-container {
    width: initial;
    align-self: center;
  }
}

@media (max-width: 1025px) {
  .sort-container {
    display: flex;
    justify-content: center;
  }

  .sort-and-posts .post-card-container {
    justify-content: center;
  }
}
